:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

/* Only target anchors that have an href attribute */
a[href] {
    color: var(--text-color);
    text-decoration: none;
}

a[href]:visited {
    font-style: italic;
}

a[href]:hover {
    text-decoration: underline;
}

a[href]:active {
    background-color: var(--color-light-grey);
}
